<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="TestNGActivities.Activity1"/>
      <class name="TestNGActivities.Activity2"/>
      <class name="TestNGActivities.PractiseTests"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
